table {
	border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
	border: 1px solid black;
	padding: 5px;
}

th {
	background-color: #ccc;
}

.h1{
 text-align: center;
 
 color: aliceblue;
}

.body{
   background-color:  #808080;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	
  }
  
  header {
	background-color: #eee;
	padding: 20px;
	margin-bottom: 30px;
  }
  
  h1 {
	margin: 0;
	font-size: 2em;
	font-weight: normal;
	text-align: center;
  }
  
  main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
  }
  
  section {
	margin-bottom: 30px;
	color: white;
	font-weight: bold;
	font-size: smaller;
  }
  
  h2 {
	margin: 0;
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 10px;
  }
  
  p {
	margin: 0;
	margin-bottom: 10px;
  }
  
  a {
	color: #007bff;
	text-decoration: none;
	border-bottom: 1px solid #007bff;
  }
  
  a:hover {
	background-color: #007bff;
	color: #fff;
	border-color: transparent;
  }
  
  button {
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 10px 20px;
	font-size: 1em;
	cursor: pointer;
  }
  
  button:hover {
	background-color: #0069d9;
  }
  
  input {
	font-size: 1em;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 10px;
	width: 100%;
  }
  
  .one{
	padding-right:  25%;
  }

  .two{
	padding-left:  25%;
  }

  .three{
	padding-right:  25%;
  }

  .four{
	padding-left:  25%;
  }

  .five{
	padding-right:  25%;
  }
  
  .six{
	padding-left:  25%;
  }

  .seven{
	padding-right:  25%;
  }